*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    margin: 0;;
}
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background:linear-gradient(#305bc8, #55a1e7)
}
.landing{
    flex-wrap: wrap;
    width: 100%;
    margin-left: 120px;
    margin-right: 120px;
}

/*header*/

.header{
    width: auto;
    padding-top: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    font-size: 24px;
    display: grid;
    grid-template-columns: auto auto auto;
    height: auto;
}
.icon-name{
    grid-column: 1;
    display: flex;
    align-items: center;
}
.fw-bold{
    font-weight: 700;
}
.header-links{
    padding-left: 300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
    justify-content: flex-end;
    border-right: 0.5px solid white;
}
.header-links-titles{
    width: max-content;
    color: white;
    text-decoration: none;
    margin-right: 30px;
    padding: 5px;
    border: 1px solid transparent;
}

a:hover{
   border-bottom: 1px solid white;
}
.login-pricing{
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    border: 1px solid transparent;
}
.login{
    
    margin-left: 25px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
}
.login:hover{
    border-bottom: 1px solid white;
}
.price-trial{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.319);
    border: 0;
    border-radius: 5px;
}
/*Main*/

.main{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 100px;
    padding-bottom: 100px ;
}
.heading-cta{
    padding-top: 100px;
    color: white;
    height: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 100px;
}
.heading-cta h1{
    font-size: 85px;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: -3%;
    margin: 0;
    margin-bottom: 50px;
}
.heading-cta p{
    font-size: 22px;
    margin-bottom: 50px;
}
.cta{
    display: flex;
    gap: 20px;
    height: 50px;
    width: auto;
}
.cta button{
    cursor: pointer;
    width: 150px;
    font-weight: 600;
    border-radius: 7px;
    border: 2px solid white;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    background-color: #3b92e3;
}
.try:hover, .demo:hover{
    background-color: white;
    color: #3b92e3;
}
/*landing images*/
.images{
    flex-wrap: wrap;
    width: auto;
    height: auto;  
}
.orange-dots{
    position: absolute;
}
.black-guy{
    position: absolute;
    margin-left: 30px;
    margin-top: 25px;
    z-index: 100;
}
.white-dots{
    position: absolute;
    margin-top: 300px;
    margin-left: 165px;
}
.white-guy{
    position: absolute;
    margin-left: 350px;
    margin-top: 200px;
    box-shadow: 15px 15px #C44A5D;
}
.app-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px ;
    padding-bottom: 150px ;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: white;
    padding-left: 120px;
    padding-right: 120px;
}
.heading-top-line{
    background: #3b92e3;
    width: 100px;
    height: 2px;
}
.app-preview h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 52px;
    font-weight: 400;
}

.app-preview p{
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
    max-width: 700px;
}
.learn-more{
    margin-top: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #3b92e3;
    width: 150px;
    height: 50px;
    background-color: #3B6AE352;
    border: 0;
    border-radius: 7px;
}
.examples-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto;
    gap: 75px;
}
.examples-container img{
    width: 325px;
    z-index: 2;
    box-shadow: 10px 10px 25px lightgray;
    
}
.blue-dots-left{
    position: absolute;
    margin-top: 1100px;
    margin-left: -375px;
    height: 120px;
    z-index: 1;
}
.blue-dots-right{
    position: absolute;
    margin-top: 1000px;
    margin-left: 550px;
    height: 120px;
    z-index: 1;
}
.orange-dots-example{
    position: absolute;
    margin-top: 400px;
    height: 120px;
    margin-left: -150px;
}
/*review*/
.review{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    background-color: #ebf0fc;
    margin-top: 2255px;
    padding-bottom: 200px;
}

.review-container{
    display: grid;
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 120px;
    grid-template-columns: fit-content fit-content;
}

.review img{
    margin-top: 100px;
    grid-column: 1;
}
.actual-review{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat Alternates', sans-serif;
    grid-column: 2;
}
.actual-review h1{
    width: 700px;
    font-size: 62px;
    font-weight: 500;
}
.actual-review p{
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 30px;
    margin-top: 0;
}
.rate{
    margin-top: 50px;
    display: flex;
}
.rate p{
    vertical-align: ce;
    margin-left: 20px;
    margin-top: 50px;
    width: 375px;
    font-weight: 500;
    
}
.stars-rate{
    
    width: fit-content;
    border-top: 1px solid #3b92e3;
}
.stars-rate img{

    margin-top: 50px
    ;
}
.rate span{
    font-weight: 700;
}
.review-demo{
    color: #3b92e3 !important;
    border: 2px solid #3b92e3 !important;
    background-color: #ebf0fc !important;
}